@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container{
    width: 1280px;
    height: 800px;
    background: darkgreen;
    margin: auto;
}

.image{
    padding: 40px;
    float: right;
}

ul{
    color: white;
    display: inline-block;
    margin: 0px 0px 0px 350px;
    padding: 30px;
    
}

li{
    display: inline-block;
    margin: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding: 8px;
    
    
    

}

.clear{
    clear: both;
}

.container2{
    width: 563px;
    height: 363px;
    background: yellow;
    float: right;
    margin: 0px 50px 0px 0px;
}

.image2{
    padding: 20px;
    display: inline-block;
    


}

.upper{
    
    
    display: inline-block;
    vertical-align: top;
    width: 350px;
    text-transform: uppercase;
    text-align: left;
    padding: 8px;
   


    
}

.container3{
    width: 563px;
    height: 363px;
    background: yellow;
    margin: 0px 0px 0px 80px;
}

.image3{
    float: right;
    padding: 20px;
}

.upper2{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    text-transform: uppercase;
    text-align: right;
    padding: 8px;
   
}